<style>
main .wrapper .featured-collection-section{
  min-height: 100vh;
  position: relative;
}
main .wrapper .featured-collection-section h1{
  text-align: center;
}
main .wrapper .featured-collection-section .grid{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
}
main .wrapper .featured-collection-section .grid a{
  text-decoration: none;
  color: var(--main-link-clr);
}
main .wrapper .featured-collection-section .grid .grid-product img{
  height: 20rem;
}
@media only screen and (max-width: 1000px) {
  main .wrapper .featured-collection-section .grid{
    grid-template-columns: 1fr;
  }
}
</style>
<div class="wrapper">
        <!-- Featured Collection -->
        <div class="featured-collection-section">
          <h1>Featured Collection</h1>
          <div class="grid">
            {%- for product in section.settings.collection.products limit: section.settings.products_to_show limit:20 -%}
          <a href="{{ product.url | within: collection }}">
            <div class="grid-product">
              {% if product.featured_image != blank %}
               {% include 'res-img' with
            image: product.featured_image,
            max_width: 480,
            max_height: 480
          %}
              {% endif %}
              <h3>{{ product.title | escape }}</h3>
              <p>{{ product.price | money }}</p>
            </div>
          </a>
          {%- endfor -%}
          </div>
        </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.featured-collection.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
