<footer>
  <div class="wrapper">
    <div class="newsletter-form">
      <h1>Newsletter</h1>
      <form action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST">
        <input type="hidden" name="g" value="LIST_ID_HERE">
        <input type="email" value="" name="email" id="k_id_email" placeholder="Your email" />
        <button type="submit">Subscribe</button>
      </form>
    </div>
    <div class="footer-content">
      <div class="content">
      <h1>Welcome</h1>
      <p>Welcome to our official website</p>
      <h3>Contact Us:</h3>
      <p>support@aplusthemes.com</p>
    </div>
    <div class="content">
      <h1>Legal:</h1>
      <ul>
        <li><a href="/">Terms</a></li>
        <li><a href="/">Privacy</a></li>
      </ul>
    </div>
    <div class="content">
      <h1>Follow Us:</h1>
      <ul class="social">
        <li><a href="/"><i class="fab fa-youtube"></i></a></li>
        <li><a href="/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="/"><i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    &copy; 2021 AJMerch<br>Powered by Shopify
  </div>
  </div>
</footer>
{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Sign up to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}

{% stylesheet %}
footer{
  position: relative;
  min-height: 50vh;
  background-color: #000000;
}
footer .wrapper{
  width: 80%;
  margin: auto;
}
footer .wrapper .newsletter-form{
  text-align: center;
  min-height: 200px;
  border-bottom: 1px solid #ffffff;
  padding-top: 20px
}
footer .wrapper .newsletter-form h1{
  color: #ffffff;
}
footer .wrapper .newsletter-form form input[type=email]{
  padding: 10px 20px;
  border: 0px;
  height: 50px;
  width: 300px;
}
footer .wrapper .newsletter-form form button[type=submit]{
  padding: 10px;
  border: 0px;
  cursor: pointer;
  height: 50px;
}
footer .wrapper .footer-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer .wrapper .footer-content .content{
  text-align: center;
}
footer .wrapper .footer-content .content h1{
  color: #ffffff;
  font-size: 40px;
}
footer .wrapper .footer-content .content h3{
  color: #ffffff;
  font-size: 25px;
}
footer .wrapper .footer-content .content p{
  color: #ffffff;
}
footer .wrapper .footer-content .content ul{
  list-style: none;
  padding: 0;
}
footer .wrapper .footer-content .content .social{
  list-style: none;
  padding: 0;
}
footer .wrapper .footer-content .content .social li{
  display: inline-block;
  padding: 10px;
}
footer .wrapper .footer-contnet .content .social li a{
  
}
footer .wrapper .footer-content .content ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 25px
}
footer .wrapper .footer-copyright{
  padding-top: 20px;
  color: #ffffff;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  footer .wrapper .footer-content {
    grid-template-columns: 1fr;
  }
  footer .wrapper .footer-content .content{
  padding-bottom: 10px;
  }
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
