
<style>
  header{
  position: relative;
  height: 100px;
  width: 100%;
}
header .wrapper{
  width: 80%;
  margin: auto;
  display: flex;
}
header .wrapper .logo-container{
  flex: 1;
}
header .wrapper .logo-container a{
  color: var(--header-link-clr);
  text-decoration: none;
}

header .wrapper .menu-container{
  flex: 1;
  margin-top: 10px;
}
header .wrapper .menu-container ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}
header .wrapper .menu-container ul li a{
  text-decoration: none;
  color: var(--header-link-clr);
}

header .wrapper .cart{
  position: fixed;
  top: 0;
  right: 2rem;
  font-size: 1rem;
  background-color: #000000;
  padding: 16px 1rem;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  z-index: 999;
}
header .wrapper .cart a{
  text-decoration: none;
  color: #ffffff;
}
</style>

<header>
      <div class="wrapper">
        <div class="logo-container">
          <a href="/"><h1>AJ Merch</h1></a>
        </div>
        <div class="menu-container">
          <ul>
            {%- for link in section.settings.menu.links -%}
            <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
            <li><a href="/">Tees</a></li>
            <li><a href="/">Hoodies</a></li>
            <li><a href="/">Accessories</a></li>
            {%- endfor -%}
          </ul>
        </div>
        <div class="cart">
          <a href="/"><i class="fas fa-shopping-cart"></i> (1)</a>
        </div>
      </div>
    </header>

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ]
}
{% endschema %}
